<ion-view view-title="DMC" ng-controller='agreementsectionctrl'>
 <ion-content>
 	<div class="row header " > 
 		 <div class="col col-25">Deal ID</div>
 		 <div class=" col ">
	 		Deal status
 		 </div>
 		 <div class="col">Amount</div>
 		  <div class="col"></div>
 	</div>
 	<hr>
 	
 	<div class="row dmc-table" > 
 		 <div class="col col-25">{{lssubmittalid}}</div>
 		 <div class=" col "> 
	 		 In Progress
 		 </div>
 		 <div class="col">{{getamount()| currency}}</div>
 		 <div><a class="button button-small icon icon-left ion-paper-airplane button-dark" ng-click="openModal()">Actions</a></div>
 	</div>
 	
 </ion-content>
 </ion-view>