<ion-view view-title="Contact Us">
 <ion-content>
  <div class="list">
 	 		<div class="item-body">
	     	 <div class="item-image"><img src="img/ProStar3.jpg"></div>
            <div >
              	<b>Welcome to Navistar Capital Mobile!</b> 
	              <p> Navistar Capital understands that the key to our success is providing superior, innovative commercial leasing 
	               solutions customized to fit the needs of your dealership and its customers. Our focus is serving you and your customers,
	               paying special attention to your business and providing best in class customer service.</p> 
								 <b>Contact Us - Customer Support Information</b>
								 <div class="row" >
								  <div class="paddingright10 ion-ios-telephone"></div>
									<div>Dealer Support - <a href="tel:4752996199">475-299-6199</a> </div>
									</div>
									<div class="row" >
								  <div class="paddingright10 ion-email"></div>
									<div>Email - test@test.com</a> </div>
									</div>
						</div>
      </div> 
  </div>   

  </ion-content>
</ion-view> 
