<ion-view view-title="Leasing Source">
 <ion-content>
    <div  layout="column"  layout-align="center center">
      <div class="list">
 		  <div class="card">
 	 		<div class="item item-divider">
	     	 <div class="item item-image"><img src="img/ProStar3.jpg">
            
               <div class="item item-text-wrap">
              	 <b>Welcome to Navistar Capital Mobile!</b> 
	               Navistar Capital understands that the key to our success is providing superior, innovative commercial leasing 
	               solutions customized to fit the needs of your dealership and its customers. Our focus is serving you and your customers,
	               paying special attention to your business and providing best in class customer service. </div>
              </div>
          </div>    
	</div>
</div> 
  </ion-content>
</ion-view> 
