<ion-view  view-title="Welcome" ng-controller='homePageCtrl as hp' data-ng-init="loadUserInfo()">

 <ion-content>
 
 <div id="main">
	 <div class="list card ">
	 	<div class="item item-image img-div-home">
	 		<img src="img/Transportation Finance.jpg">
	 	</div>
		<div class="item ">
		    <h2>{{hp.userdata.fname}} {{hp.userdata.lname}}</h2>
		    <p>{{hp.userdata.coname}}</p>
	  	</div>
	 </div >
 
    <div  class="list paddingtop50"  > 
     <a class="button button-full icon icon-left ion-paper-airplane button-dark" href="#/mainapp/creditapplication/cust-section">Credit Application</a>
     <a class="button button-full icon icon-left ion-calculator button-dark" href="#/mainapp/dmc/dmcmainpage">Deal Management</a>
     <a class="button button-full icon icon-left ion-stats-bars button-dark" href="#/mainapp/creditapplication/cust-section">Reports</a>
     <a class="button button-full icon icon-left ion-ios-person button-dark" href="#/mainapp/creditapplication/cust-section">My Profile</a>  
    </div> 
</div>  
     
  </ion-content>
</ion-view> 
