<ion-nav-bar class="bar-dark" align-title="center">
      <!--<ion-nav-back-button>
      </ion-nav-back-button>-->

      <ion-nav-buttons side="right">
        <button class="button icon-left ion-locked  button-stable"  ng-click="logout()">
          Logout
        </button>
      </ion-nav-buttons>

<div ng-controller="btm-tabscrtl">  
    <ion-tabs class="tabs-icon-top tabs-dark">

        <ion-tab title="Home" icon="ion-home" ng-click="gotopage('/mainapp/mainPage')" >
          <ion-nav-view name="nomenuContent"></ion-nav-view>
        </ion-tab>

        <ion-tab title="My Profile" icon="ion-person" ng-click="gotopage('/mainapp/home')" >
           <ion-nav-view name="nomenuContentabout"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contact" icon="ion-ios-world" ng-click="gotopage('/mainapp/contact')">
         <ion-nav-view name="nomenuContentContact"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
      
 </div>