<ion-view view-title="Quote" ng-controller="barcodectrl">
 <<ion-content>
   <div class="list">
 	 		<div class="item-body">
	     	 <div class="item-image"><img src={{imgsrc}}></div>
            <div class="center">
              	<b>{{model}}</b> 
            </div>
            <div>
              
            </div>
 	 		</div>
 	 		
   </div>
<!--model:7000-series:7400 107" BBC Conv Cab Truck;manu:International;class:Heavy Duty;year:2017;price:50000;category:Truck;imgsrc:img\trucks\7000-series-7400.jpg;-->
 </ion-content>
</ion-view>