<ion-view view-title="Confirmation" ng-controller="agreementsectionctrl">
 <ion-content>
   <div class="list">
   <div class="card">
 	 <div class="item item-divider">
    	Congratulations
 	</div>
  	<div class="item item-text-wrap">
	   <b> Application has been submitted successfully. Track 	<a href="#/mainapp/dmc/dmcmainpage">{{lssubmittalid}}</a> from Deal Management center</b>
		
	 </div>
   </div>
    <div class="row">
      	 <div class="col text-right">
      	<a class="button button-small item-button-left icon icon-left ion-clipboard button-dark" " href="#/mainapp/mainPage">Go to main page</a>
      	</div>
     </div>
 </ion-content>
</ion-view>